@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Nunito;
}

::selection {
  background-color: rgb(148, 255, 196, 0.7);
  /* color: white; */
}

.sides-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* padding: 50px; */
  /* background-color: #f4f4f4; */
  overflow: hidden;
  font-family: Nunito;
}

.sides-content {
  margin-top: 15vh;
  margin-left: 7vw;
  max-width: 43vw;
  z-index: 10;
  position: relative;
}

.sides-content h1 {
  line-height: 3.8rem;
  font-size: 3.3rem;
  font-weight: 800;
  color: #333;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.sides-content p {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #666;
  margin-top: 20px;
}

/* Background image styling */
.sides-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url('../../public/bg-img-desat.png'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  z-index: 1;
}
/* if height:width ratio is greater than 1013/1474, it'll look wrong*/

/* Curve SVG styling */
.curve-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  transform: scaleY(-1);
}

.top-semicircle-bottom-left {
  position: absolute;
  bottom: -8vw;
  left: 0;
  width: 17vw; /* Relative to the viewport */
  height: 14.5vw; /* Half of the width */
  background-color: #66cc99;
  border-radius: 50% 50% 0 0;
  z-index: 1000;
}

.right-semicircle-bottom-left {
  position: absolute;
  bottom: -0.6vw;
  left: -10vw;
  width: 17.5vw; /* Relative to the viewport */
  height: 16vw; /* Half of the width */
  background-color: #fce097;
  border-radius: 50% 50% 50% 50%;
  z-index: 1;
}

.left-semicircle-middle-right {
  position: absolute;
  top: 50vh;
  right: 0;
  transform: translate(0, -50%);
  height: 16vw;
  width: 8vw;
  border-radius: 11vw 0 0 11vw;
  background-color: #96e5ff;
  z-index: 1000;
}

.left-semicircle-bottom-right {
  position: absolute;
  top: 110vh;
  right: 0;
  transform: translate(0, -50%);
  height: 16vw;
  width: 8vw;
  border-radius: 11vw 0 0 11vw;
  background-color: #ffc8dd;
  z-index: 1;
}

.left-semicircle-lower-right {
  position: absolute;
  top: 138vh;
  right: 0;
  transform: translate(0, -50%);
  height: 16vw;
  width: 8vw;
  border-radius: 11vw 0 0 11vw;
  background-color: #ffc8dd;
  z-index: 1;
}

.fun-green {
  background-color: #66cc99;
}

.fun-yellow {
  background-color: #fce097;
}

.fun-blue {
  background-color: #96e5ff;
}

.fun-pink {
  background-color: #ffc8dd;
}

.img-header {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.overlay-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
}

.overlay-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  color: rgb(245, 245, 245); /* Text color */
  text-align: center;
  padding: 20px;
  font-size: 100px;
  font-weight: 700;
}

.centered {
  justify-content: center;
}

form {
  margin-top: 6vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-single-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 40%;
}

.form-submit-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 40%;
}

.form-item-single {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 18px;
  margin: 10px;
}

input:not([type="submit"]) {
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
  background: whitesmoke;
  font-family: Nunito;
}

input:not([type="submit"]):focus, select:focus {
  border: 1px solid rgb(75, 202, 132);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 4px rgb(75, 202, 132);
	-moz-box-shadow: 0px 0px 4px rgb(75, 202, 132);
	box-shadow: 0px 0px 4px rgb(75, 202, 132);
	outline: none;
	transition: 0.2s;
}

input[type="submit"] {
  display: block;
  box-sizing: border-box;
  width: 30%;
  border-radius: 20px;
  border: 1px solid #c7c7c7;
  padding: 8px 10px;
  font-size: 16px;
  transition: 0.3s;
  background-color: rgb(168, 255, 207);
  margin: 20px;
  font-family: Nunito;
}

input[type="submit"]:hover {
  background-color: rgb(133, 215, 170);
  cursor: pointer;
}

input[type="submit"]:focus {
  transform: translateY(3px);
}

.form-paragraph {
  color: rgb(32, 195, 105);
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
  margin-bottom: 10px;
}

.form-info {
  margin-top: 0;
  margin-bottom: 4px;
}

.form-list {
  margin: 0;
  padding-left: 20px;
}

.error-msg {
  color: rgb(232, 62, 39);
  text-align: center;
  margin-bottom: 2vh;
}

.centered-content {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4vh;
}

.profile-button {
  display: block;
  box-sizing: border-box;
  width: 25vw;
  border-radius: 20px;
  border: 1px solid #c7c7c7;
  padding: 8px 10px;
  font-size: 18px;
  transition: 0.3s;
  background-color: #cbf1fd;
  margin-top: 0px;
  margin-bottom: 12vh;
  text-decoration: none;
  text-align: center;
  color: rgb(10, 40, 20);
}

.profile-button:hover {
  background-color: #abccd6;
  cursor: pointer;
  transition: 0.2s;
}

.profile-button:focus {
  transform: translateY(3px);
}

.currency-row {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin-bottom: 8vh;
}

.currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
}

.currency img {
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
}

.currency-label {
  font-size: 19px;
  font-weight: normal;
}

.currency-description {
  font-size: 14px;
}

.bolded {
  font-weight: bold;
}



.post {
  /* border: 1px solid rgb(38, 109, 69); */
  background-color: #f9f8f6;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: row;
  width: 55vw;
  box-shadow: 2px 2px 8px rgb(169, 169, 169);
  transition: 0.2s;
}

.post:hover {
  padding: 24px;
}

.postvoting {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 1;
  margin:5px;
}

.postcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
  margin:5px;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.post-body {
  color: black;
}

.post-not-voting {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  text-decoration: none;
  color: black;
}

.post-top {
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.post-username {
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-right: auto;
  font-size: 13pt;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 6px;
  text-decoration: none;
  color: black;
}

.post-username::after {
  display: block;
  background-color: #1a1a1a;
  bottom: 2px;
  content: "";
  height: 1px;
  left: 0;
  position: relative;
  transition: width .2s ease-out;
  width: 0;
}

.post-username:hover::after {
  width: 100%;
}

.comment-username {
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-right: auto;
  font-size: 13pt;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 6px;
  text-decoration: none;
  color: black;
}

.comment-username::after {
  display: block;
  background-color: #1a1a1a;
  bottom: 2px;
  content: "";
  height: 1px;
  left: 0;
  position: relative;
  transition: width .2s ease-out;
  width: 0;
}

.comment-username:hover::after {
  width: 100%;
}

.posttime {
  top: 0;
  right: 0;
  font-weight: 400;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: none;
  margin: 0;
}

.posttime div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.posttitle {
  display: inline-block;
  font-family: poppins,Helvetica,Arial,sans-serif;
  color: darkslategray;
  text-decoration: none;
  font-weight: bold;
  font-size: 25pt;
}

.postbutton {
  background: none;
  border: none;
}

.postbutton.down {
  transform: scaleY(-1);
}

.tree-button {
  transition: 0.2s;
}

.tree-button-activated {
  fill:#6ecc8d;
}

.tree-button-activated:hover {
  cursor: pointer;
}

.tree-button:hover {
  cursor: pointer;
  fill:#6ecc8d;
}

.page-title {
  margin-bottom: 5vh;
  font-size: 48px;
  font-weight: 800;
}

div.no-hover:hover {
  padding: 20px;
}



.all-comments {
  background-color: #f9f8f6;
  box-shadow: 2px 2px 6px rgb(169, 169, 169);
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 10vh;
}

.comment {
  background-color: #f9f8f6;
  padding: 8px 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 55vw;
  transition: 0.2s;
  border-bottom: 1px solid #b2b2b2;
}

.post-vote-count {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment:last-of-type {
  border: none;
}

.commentvoting {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 1;
  margin:5px;
}

.commentcontent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex-grow: 1;
  margin:5px;

}

.comment-not-voting {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  text-decoration: none;
  color: black;
}

.comment-top {
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

p.comment-text {
  margin-top: 10px;
  margin-left: 5px;
  /* width: 100%; */
}

.comment-username {
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-right: auto;
  font-size: 13pt;
  font-weight: 500;
}

.commenttime {
  top: 0;
  right: 0;
  font-weight: 400;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: none;
  margin: 0;
}

.commenttime div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.commenttitle {
  font-family: poppins,Helvetica,Arial,sans-serif;
  color: darkslategray;
  text-decoration: none;
  font-weight: bold;
  font-size: 25pt;
}

.commentbutton {
  background: none;
  border: none;
}

.backbutton {
  margin-right: 30px;
  color: rgb(61, 107, 82);
}

.bi {
  transition: 0.2s;
}

.bi:hover {
  transform: translateY(-3px);
}

.special {
  flex-direction: column;
}

.add-comment-form {
  width: 55vw;
  display: flex;
  flex-direction: column;
}

.comment-single-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

textarea:not([type="submit"]) {
  border: 1px solid #c7c7c7;
  border-radius: 28px;
  padding: 18px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
  background: whitesmoke;
  font-family: Nunito;
  resize: none;
}

textarea:not([type="submit"]):focus, select:focus {
  border: 1px solid rgb(75, 202, 132);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 4px rgb(75, 202, 132);
	-moz-box-shadow: 0px 0px 4px rgb(75, 202, 132);
	box-shadow: 0px 0px 4px rgb(75, 202, 132);
	outline: none;
	transition: 0.2s;
}

input[type="submit"].comment-submit {
  height: 8vh;
}

.journal {
  /* border: 1px solid rgb(38, 109, 69); */
  /* background-image: url('/public/journal-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  line-height: 25px;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  width: 55vw;
  box-shadow: 2px 2px 8px rgb(169, 169, 169);
  justify-content: center;
  align-items: start;
}

.journal:last-of-type {
  margin-bottom: 20vh;
}

.journal-date {
  font-size: 10pt;
}

.no-comments {
  margin: 15px;
}

.page-description {
  max-width: 60vw;
}