@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* TODO: FIX LOGO

Font Family: Barlow semi condensed
Font color:
    start: #59A52C
    end: 
*/

.nav-wrapper {
    display: flex;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
    padding-bottom: 10px;
	background: rgba(148, 255, 196, 0.0);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    /* box-shadow: 0 2px 8px #868686; */
}

/* lighter: 160, 228, 191 */
/* darker:  75, 202, 132 */

.fader {
    width: 100%;
    height: 16px;
    background: linear-gradient(rgb(160, 228, 191, 0.7), rgb(209, 237, 222, 0));
    position: absolute;
    z-index: 9;
    top: 78px;
}

.logo {
    cursor: pointer;
	order: 1;
    margin-left: 5%;
	margin-right: auto;
    text-decoration: none;
}

.logo-text {
    font-family: Nunito;
    font-size: 35px;
    color: rgb(10, 40, 20);
    font-weight: bolder;
    text-decoration: none;
}

.logo-dark {
    color: rgb(10, 40, 20);
}

.logo-light {
    color: rgb(245, 245, 245);
}

nav {
    order: 2;
    display: flex;
}

.nav-link-wrapper {
    padding-right: 6vw; 
}

.nav-link {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(10, 40, 20);
    padding: 7px 16px;
    background-color: rgb(225, 225, 225);
    /* border: 1px solid rgb(160, 228, 191); */
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link::after {
    display: block;
    background-color: #1a1a1a;
    bottom: 2px;
    content: "";
    height: 1px;
    left: 0;
    position: relative;
    transition: width .2s ease-out;
    width: 0;
}

.nav-link:hover {
    background-color:rgb(160, 228, 191);
}

.nav-link:hover::after {
    width: 100%;
}



/* post and comment styles evan change this later */
.post {
    border: 1px solid rgb(160, 228, 191);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.postvoting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin:5px;
}

.postcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin:5px;
}