@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo-dark {
   background: -webkit-linear-gradient(left, #286b00, #59a52c);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.logo-light {
    background: -webkit-linear-gradient(left, #75df39, #a9dd65); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.logo-text {
    font-family: Barlow semi condensed;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    /* color: rgb(10, 40, 20); */
}

img.logo-img {
    width: 55px;
    height: 55px;
    margin-right: 3px;
}

.nav-wrapper {
    display: flex;
}

.footer-logo-text {
    font-family: Barlow semi condensed;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
}

img.footer-logo-img {
    width: 65px;
    height: 65px;
    margin-right: 5px;
}

.footer-wrapper {
    display: flex;
}

.footer {
    bottom: 0;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background:#d0eaf1;
    z-index: 10;
    width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
    padding-bottom: 10px;
	background: rgba(148, 255, 196, 0.0);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    /* box-shadow: 0 2px 8px #868686; */
}

/* lighter: 160, 228, 191 */
/* darker:  75, 202, 132 */

.fader {
    width: 100%;
    height: 16px;
    background: linear-gradient(rgb(160, 228, 191, 0.7), rgb(209, 237, 222, 0));
    position: absolute;
    z-index: 9;
    top: 78px;
}

.logo {
    cursor: pointer;
	order: 1;
    margin-left: 5%;
	margin-right: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav {
    order: 2;
    display: flex;
}

footer {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    padding-left: 2.5vw;
    border-left: 1px solid #b2b2b2;
}

.footer-not-bottom {
    padding-bottom: 2vh;
}

.footer-header {
    font-size: 20px;
    font-weight: bold;
}

.footer-link {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(10, 40, 20);
    cursor: pointer;
    margin-right: auto;
}

.footer-link::after {
    display: block;
    background-color: #1a1a1a;
    bottom: 2px;
    content: "";
    height: 1px;
    left: 0;
    position: relative;
    transition: width .2s ease-out;
    width: 0;
}

.footer-link:hover::after {
    width: 100%;
}

.nav-link-wrapper {
    padding-right: 3vw; 
}

.nav-link {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(10, 40, 20);
    padding: 7px 16px;
    background-color: rgb(225, 225, 225);
    /* border: 1px solid rgb(160, 228, 191); */
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link::after {
    display: block;
    background-color: #1a1a1a;
    bottom: 2px;
    content: "";
    height: 1px;
    left: 0;
    position: relative;
    transition: width .2s ease-out;
    width: 0;
}

.nav-link:hover {
    background-color:rgb(160, 228, 191);
}

.nav-link:hover::after {
    width: 100%;
}
